* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.App {
  width: 800px;
}
.post {
  display: flex;
  padding: 15px;
  border: 2px solid teal;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
}

.post_btns {
  display: flex;
}

.post-enter {
  transform: translateX(1000px);
}

.post-enter-active {
  transform: translateX(0px);
  transition: all 500ms ease-in;
}

.post-exit {
  opacity: 1;
}

.post-exit-active {
  transform: translateX(-1000px);
  transition: all 500ms ease-in;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

p {
  font-size: 25px;
  color: teal;
  padding-bottom: 3px;
}
  
i {
  border: solid teal;
  border-width: 0 3px 3px 0;
  padding: 5px;
  cursor: pointer;
  margin-left: 15px;
  margin-right: 15px;
}
  
.right {
  transform: rotate(-45deg);
}
  
.left {
  transform: rotate(135deg);
}

.navbar {
  height: 50px;
  width: 100vw;
  display: flex;
  align-items: center;
  padding: 0 15px;
  background: lightgray;  
}

.navbar_links {
  margin-left: auto;
}